p{
    text-align: center;
font-size: 100px;
color: #ffffff;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{

    text-align: center;
}
h1{
    font-size: 120px;
    color: #000000;
    background-color: aqua;
}
.jsarea{
    height: 500px;
}